<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUN TOYS: {% block title %}{% endblock %}</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    <nav>
        <h1>FUN TOYS</h1>
        <ul>
            {% if session["user_id"] %}
            <li><p><a href="/logout">Sair</a></p></li>
            {% else %}
            <li><p><a href="/login">Entrar</a></p></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>
</body>

</html>
